name: Release
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: open-turo/actions-node/release@v3
        with:
          github-token: ${{ secrets.OPEN_TURO_GITHUB_TOKEN }}
          npm-auth-token: ${{ secrets.NPM_TOKEN }}
